*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/compiler.xml
/.idea/jarRepositories.xml
.idea/shelf
.DS_Store
/build
/captures
.externalNativeBuild
bin/
gen/
out/
.ART
keystore.properties
values.properties
*.iws
/.idea/uiDesigner.xml
/.idea/libraries-with-intellij-classes.xml